[network]
#List of switch device,interfaces name and segmentation_ids for switch discovery
vendor = vendor_name
access_parameter = write_community: public, security_name: bmnpusr33, auth_protocol: md5
access_protocol = snmpv1
sw_ip_address = 105.0.1.107
